@model dotnet_mvc_expense_tracker.Models.Kategori

<h2>Detail Kategori</h2>

<ul class="list-group">
    <li class="list-group-item"><b>Tipe:</b> @Model.Tipe</li>
    <li class="list-group-item"><b>Nama:</b> @Model.Nama</li>
    <li class="list-group-item"><b>Deskripsi:</b> @Model.Deskripsi</li>
    <li class="list-group-item"><b>Status:</b> @Model.Status</li>
</ul>

<a asp-action="Index" class="btn btn-secondary mt-3">Kembali</a>
